<article>

    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="https://i.pinimg.com/564x/8f/21/6a/8f216aec935aa4fc7bf259beb79ba136.jpg" alt>
            </div>
        </div>
        <div class="descripcion">
            <h3>Rodrigo Cena</h3>
            <h4>Soy programador</h4>
            <p>hola soy programador</p>
        </div>
        <div class="contacto">
            <a href="">contactar</a>
        </div>
    </div>

</article>
