<div class="container">
    <article class="bg-gradient shadow rounded-5 p-2 mt-5" th:each="prov :${proveedores}">
        <div class="px-4 py-5 text-center rounded-5 p-4 bg-secondary shadow" style="width: 18rem; align-items: center">
            <img class="card-img-top rounder-4 rounded-circle mt-3 border border-primary-subtle border-3" th:src="@{/imagen/perfil/__${prov.id}__}" style="width: 120px ; height: 120px; border-radius: 40px;" alt="foto de perfil">
            <div class="card-body">

                <h5 class="card-title" th:text="${prov.nombre}"></h5>
                <p class="card-text" th:text="${prov.descripcion}"></p>
                <a th:href="@{/cliente/contratar/__${prov.id}__}" class="btn btn-primary mx-auto d-block" >Contratar</a>
            </div>
        </div>
    </article>
</div>