<article class="col mb-3">
    <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/foto-gratis/retrato-hombre-blanco-aislado_53876-40306.jpg?size=626&ext=jpg&ga=GA1.1.1016474677.1697155200&semt=ais" class="card-img-top rounder-4 rounded-circle " alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Contactar</a>
        </div>
    </div>
</article>