<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
        <span class="mb-3 mb-md-0 text-body-dark">&copy; 2023 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-2">
            <a class="link-body-emphasis" href="http://twitter.com"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-twitter-x"
                viewBox="0 0 16 16">
                <path
                  d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" /></svg
            ></a>
          </li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="../../static/imagenes/icons8-twitter-50.svg" alt="Twitter"></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="../../static/imagenes/icons8-facebook.svg" alt="facebook"></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><img src="../../static/imagenes/icons8-instagram.svg" alt="instagram"></a></li>
    </ul>
</footer>