<nav class="container navbar navbar-expand-lg bg-transparent border border-light border-5 rounded-5 p-3 mt-3">
    <div class="container-fluid">
        <a class="navbar-brand" th:if="${session.usuariosession == null}"   th:href="@{/}"><img src="../../img/LogoCCMT.png" alt="" style="width: 80px ; height: 80px; border-radius: 20px;" /></a>
        <a class="navbar-brand" th:if="${session.usuariosession != null}" th:href="@{/inicio/index}"><img src="../../img/LogoCCMT.png" alt="" style="width: 80px ; height: 80px; border-radius: 20px;" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" style="color: white; font-size: 20px" aria-current="page" th:href="@{/login}" th:if="${session.usuariosession == null}">Ingresar</a>
                </li>
                <li class="nav-item dropdown">
                    <a th:if="${session.usuariosession == null}" class="nav-link dropdown-toggle" style="color: white; font-size: 20px" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Registrar
                    </a>
                    <ul class="dropdown-menu bg-light-subtle border-2 border-dark">
                        <li><a class="dropdown-item" th:href="@{/cliente/registrar}">Soy Cliente</a></li>
                        <li><a class="dropdown-item" th:href="@{/proveedor/registrar}"> Soy veedor</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" th:if="${session.usuariosession != null}">
                    <a  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>

                        <li><a th:if="${session.usuariosession.rol.toString() == 'CLIENTE'}" class="dropdown-item" th:href="@{/cliente/perfil/__${session.usuariosession.id}__}">Ver Perfil</a></li>
                        <li><a th:if="${session.usuariosession.rol.toString() == 'PROVEEDOR'}"  class="dropdown-item" th:href="@{/proveedor/perfil/__${session.usuariosession.id}__}">Ver Perfil</a></li>


                        <li><a class="dropdown-item" th:href="@{/logout}">Cerrar Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <button class="btn btn-transparent dropdown-toggle" type="button" id="adminDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                style="font-size: 8px">ADM
        </button>
        <div class="dropdown-menu" aria-labelledby="adminDropdown" style="font-size: 8px">
            <a class="dropdown-item" th:href="@{/admin/login}">Iniciar sesión</a>
        </div>
    </div>
</nav>