<article th:each="cont : ${contratosActivos}" class="opinion-cli my-3 mt-3">
    <div class="d-flex align-items-center">
        <div class="mr-3">
            <p>Hola matherfackers</p>
           <!--<img class="d-block mb-4 rounded-circle"
                 th:src="@{/imagen/perfil/__${cont.contrato.cliente.id}__}" alt="Imagen del usuario" width="72" height="57"
                 style="border: 3px solid white">-->
        </div>
        <div class="ms-3">
            <h4> <span  th:text="${cont.contrato}"/> </h4>
            <p th:text="${cont.descripcion}" ></p>
            <p class="fecha" th:text="${cont.fechaEdicion}"></p>
        </div>
    </div>
    <div class="container row d-flex align-items-center justify-content-center">
        <div class="col-4">
            <a class="btn btn-success" th:href="@{/proveedor/terminado/__${contratos.cliente.id}__}" >Terminado</a>
        </div>
    </div>
    <!--  <p>Exelente servicio</p>
     <div class="professionalAnswer" style="padding:20px; margin-top: 20px; background-color: window; border-radius: 20px;">
         <p style="margin-bottom:5px;"><strong>Respuesta:</strong></p>
         <p>Gracias por la atención </p>
     </div>
     <div class="bg-success" style="display:inline-block;border-radius:15px;padding:5px 15px 5px 15px;margin-top:10px;"><span>✅ Cliente verificado</span></div> -->
</article>