.carta{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 20px;
}
.carta:hover{
    box-shadow: 0 5px 15px rgba(3, 89, 92, .5);
    transform: translateY(-15px);
}
.carta .cabecera {
    height: 125px;
    width: 100%;
    position: relative;
}
.carta .cabecera .circulo{

    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #0b6f72;
    bottom: 0;
}
.carta .cabecera .img{
    width: 150px;
    height: 150px;
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}
.carta .cabecera .img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.carta .descripcion{
    height: 200px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px rgba(6,74, 76, 18);
    text-align: center;

}
.carta .descripcion h3 {

    color: #05383a;
}
.carta .descripcion h4{

    color: #1c5a5c;
}
.carta .descripcion p{

    margin-top: 20px;
    font-size: 15px;
}
.carta .contacto{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carta .contacto a{
    text-decoration: none;
    color: #fff;
    background-color: #157579;
    padding: 5px 20px;
    border-radius: 5px;
    transition: .3s;
}
.carta .contacto a:hover{
    background:#0b6164 ;
}


