.fondo1{
    background-image: url(../img/fondo1.jpeg);
    background-position: center;
}

.fondoComentarios{
    background-image: url(../img/fondoComentarios.jpg);
    background-position: center;
}

