formulario {
  box-shadow: 0 0 10px rgb(249, 251, 250);
  border-radius: 15px;
}

body{
  background-image: linear-gradient(
    to bottom,
    rgba(255, 157, 0, 0.5),
    rgba(1, 1, 254, 0.5)), /*gradiente de imagen*/
    url("../img/CCMsBG.jpg") ;/*ubicacion de imagen*/
  background-repeat: no-repeat;/* la imaen no se repite*/
  background-position: center center;/* posicion de la imagen de fondo en el centro*/
  background-attachment: fixed;/*la imagen queda fija en llventana de visualizacion*/
  background-size:cover; /*La imagen se reescala automaticamente con el cambio de zoom general*/
}

.mensajeExito{
  width: 20%;
  margin: auto;
  text-align: center;
}

.mensajeError{
  width: 20%;
  margin: auto;
  text-align: center;
}

.formulario{
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgb(249, 251, 250);
  border-radius: 15px;
}


.divVolver{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.botonVolver{
  width: 30%;
}

.botones{
  box-shadow: 0px 2px 16px 4px rgba(226, 220, 220, 0.36);
  -webkit-box-shadow: 0px 2px 16px 4px rgba(89, 84, 84, 0.36);
  -moz-box-shadow: 0px 2px 16px 4px rgba(248, 245, 245, 0.36);
}

.botones:active{
  box-shadow: none;
}

