
.navBar{
    background: #0b6164;
}

.elementosNav{
  display: flex;
  width: 20%;
  justify-content: space-around;
  color: #fafbfb;
  font-weight: 700;
}

.elementos{
  margin-right: 50px;
}

.containerImg{
  width: 30%;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 20px;
}
footer{
    background: #0b6164;
}
.containerFooter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

