
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body class="fondo1">
<div class="container-fluid">
    <nav th:replace="/fragments/navbar :: nav"></nav>
</div>

<div
        th:replace="/fragments/mensajeErrorYExito :: div">
</div>

<main class="container bg-gradient shadow rounded-5 p-2 mt-5 text-center text-white">
    <div class="rounded-5 p-4 bg-gradient bg-gradient bg-black shadow">
        <h2>PANEL DEL ADMIN</h2>
        <h6>LISTA DE PROFESIONES</h6>

        <!-- Filtros -->
        <div class="justify-content-center row mb-4">
            <div class="col-md-4">
                <label for="filtroProfesiones"></label>
                <select id="filtroUsuarios" class="form-control" required style="color: #888;">
                    <option value="" disabled selected hidden>PROFESIONES</option>
                    <option value="profesiones"></option>
                </select>
            </div>
            <!-- Otros filtros según sea necesario -->

            <div class="col-md-4">
                <label for="buscar"></label>
                <input type="text" id="buscar" class="form-control" placeholder="BUSCAR" required style="color: #888;">
                <p> <a class="btn btn-primary" th:href="@{/admin/añadirProfesion}">Añadir Profesion</a>  </p>
            </div>
        </div>

        <!-- TABLA -->

        <div class="pt-4 container-fluid bg-dark justify-content-between" style="border: 4px solid teal; border-radius: 20px; overflow: auto;">
            <table class="table table-responsive table-sm table-dark table-striped-row table-striped-col" style="font-size: 12px;">
                <thead>
                <tr>
                    <th>PROFESION</th>
                    <th>ESTADO</th>
                    <th> </th>
                </tr>
                </thead>
                <tbody th:each="profesion : ${profesiones}">
                <tr>
                    <th class="id-column" scope="row" th:text="${profesion.profesion}"></th>
                    <td th:text="${profesion.activo}"></td>
                    <td>
                        <p><a class="btn btn-warning btn-sm bg-dark text-light" th:href="@{/admin/modificarProf/__${profesion.id}__}">Modificar</a>
                            <a class="btn btn-primary btn-sm bg-dark text-light"  style="">Editar</a>

                          <!--  <a class="btn btn-sm bg-dark text-light"
                               th:classappend="${profesion.activo} ? 'btn-success' : 'btn-danger'"
                               th:href="@{/admin/cambiarEstado/__${profesion.name}__}">
                                <span th:text="${profesion.activo} ? 'Habilitar' : 'Deshabilitar'"></span>
                            </a>-->
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </section>


    </div>
    </div>
</main>

<footer th:replace="/fragments/footer :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>